接続は成功するがファイル一覧が表示されない

特定のサーバーにアクセスした時だけ、「接続は成功するがファイル一覧が表示されない」現象が発生します。
・接続方法は FTPS（Explicit）。
・v3.1、v3.6、v4.3で試して、全て同じ挙動。
・旧プロジェクト版の1.99aでは、正常にファイル一覧が表示される。

ログウィンドウの最後には以下が出力されています。
>LIST
>150 Here comes the directory listing.
>522 SSL connection failed; session reuse required: see require_ssl_reuse option in vsftpd.conf man page
>ファイル一覧の取得を中止しました.
>ファイル一覧の取得に失敗しました.

なお、v1.98bの更新履歴に以下があったので、試しにv1.98aで接続してみたら同じ現象/同じログが出力されました。
>FTPSのコントロール接続のSSLセッションを再利用するように変更しました。
>一部のホストでFTPSによる接続を拒否される問題が解消されます。

ご確認いただけますでしょうか。よろしくお願いします。


参考までにOSはWindows 8.1以降でしょうか？

いつもお世話になっております。
Windows10 Pro 64bit ver1903で、確認しています。

手元でvsftpd環境を用意してみました。別のエラーが発生し、それについては修正しました（#154）が、指摘のエラーは発生しませんでした。メッセージにある`require_ssl_reuse`はYES / NO両方で試しています。
調査のため接続先の環境情報をいただくことは可能でしょうか？ ホスティングサービスなどであれば、こちらで登録して試してみたいのですが。

追加情報としては、以下が提示できます。

・FTPS（Explict）の証明書は、4年前に期限切れしています。
・証明書発行者が、お客様なので自己証明書の様です。設備もお客様社内の可能性もあります。

接続時、署名書類の段階で警告が表示され、無視して接続する。
その後、接続されますが何も表示され無い状態です。

初回時に提示できず、すいません。

今までCentOS 8、vsFTPd 3.0.3で確認していましたが、ふと思い立ってCentOS 6、vsFTPd 2.2.2で試したところ
```
522 SSL connection failed; session reuse required: see require_ssl_reuse option in vsftpd.conf man page
```
が再現できました。メッセージの通りで`require_ssl_reuse=NO`であれば接続はできました。
この環境でもうちょっと調査してみます。

ちなみにvsFTPd 3.0.2から3.03の[Changelog](https://security.appspot.com/vsftpd/Changelog.txt)には

```
- Kill the FTP session if we see session re-use failure. A report
  from Tim Kosse <tim.kosse@filezilla-project.org>. (vsftpd-3.0.3pre1)
```

とあるので、（この変更そのものは切断を強化するものですが）何かしらの影響を受けているのかもしれません。もうちょっと調べます。

session reuse requiredということで、[細かすぎて伝わらないSSL/TLS](https://techblog.yahoo.co.jp/infrastructure/ssl-session-resumption/)を参考にしています。

vsFTPd 3.0.2と3.0.3のTLSパケットを比較してみました。FFFTP側は #154 修正版です。

Session 再開機能は RFC5246 Section 7.3 で規定されているそうですが、Server Helloで送られてきたSession IDを次回のClient Helloに含めることで同一セッションと認識するそうです。しかし3.0.2・3.0.3共にServer HelloにSession IDが含まれていないため、そもそもこの機能が実現できません。

```
TLSv1.2 Record Layer: Handshake Protocol: Server Hello
    Content Type: Handshake (22)
    Version: TLS 1.2 (0x0303)
    Length: 65
    Handshake Protocol: Server Hello
        Handshake Type: Server Hello (2)
        Length: 61
        Version: TLS 1.2 (0x0303)
        Random: 025e9208fd5536f8ac845214a2bfccacb7c80c5275419751…
        Session ID Length: 0                   ←
        Cipher Suite: TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 (0xc030)
        Compression Method: null (0)
        Extensions Length: 21
        Extension: renegotiation_info (len=1)
        Extension: ec_point_formats (len=4)
        Extension: session_ticket (len=0)
        Extension: extended_master_secret (len=0)
```

これとは別に RFC5077 で規定されているそうですが、New Session Ticketで送られてきたSession Ticketを次回のClient Helloに含めることで同一セッションと認識することもできるそうです。3.0.2も3.0.3もNew Session Ticketが送られてきています。

```
TLSv1.2 Record Layer: Handshake Protocol: New Session Ticket
    Content Type: Handshake (22)
    Version: TLS 1.2 (0x0303)
    Length: 1242
    Handshake Protocol: New Session Ticket
        Handshake Type: New Session Ticket (4)
        Length: 1238
        TLS Session Ticket
            Session Ticket Lifetime Hint: 2147483647 seconds (24855 days, 3 hours, 14 minutes, 7 seconds)
            Session Ticket Length: 1232
            Session Ticket: 22c0fe41031640313bfea5b36e156b5be790302c6f57bc96…
```

しかし、3.0.2では次回のClient Helloでこれを送っていません。

```
TLSv1.2 Record Layer: Handshake Protocol: Client Hello
    Content Type: Handshake (22)
    Version: TLS 1.2 (0x0303)
    Length: 160
    Handshake Protocol: Client Hello
        Handshake Type: Client Hello (1)
        Length: 156
        Version: TLS 1.2 (0x0303)
        Random: 5dc728263b6e0496b4d05551ffada54331b455b72bf8419f…
        Session ID Length: 0
        Cipher Suites Length: 42
        Cipher Suites (21 suites)
        Compression Methods Length: 1
        Compression Methods (1 method)
        Extensions Length: 73
        Extension: server_name (len=14)
        Extension: supported_groups (len=8)
        Extension: ec_point_formats (len=2)
        Extension: signature_algorithms (len=20)
        Extension: session_ticket (len=0)                   ←
        Extension: extended_master_secret (len=0)
        Extension: renegotiation_info (len=1)
```

対して3.0.3ではClient Helloに含められています。

```
TLSv1.2 Record Layer: Handshake Protocol: Client Hello
    Content Type: Handshake (22)
    Version: TLS 1.2 (0x0303)
    Length: 1392
    Handshake Protocol: Client Hello
        Handshake Type: Client Hello (1)
        Length: 1388
        Version: TLS 1.2 (0x0303)
        Random: 5dc732dd1a03765931d8ad08e1056a2d1194e545b5f81c22…
        Session ID Length: 0
        Cipher Suites Length: 42
        Cipher Suites (21 suites)
        Compression Methods Length: 1
        Compression Methods (1 method)
        Extensions Length: 1305
        Extension: server_name (len=14)
        Extension: supported_groups (len=8)
        Extension: ec_point_formats (len=2)
        Extension: signature_algorithms (len=20)
        Extension: session_ticket (len=1232)                   ←
        Extension: extended_master_secret (len=0)
        Extension: renegotiation_info (len=1)
```

Windows側はなぜ3.0.2に対してはSession Ticketを送信せず、3.0.3に対しては送信したのかの違いについて調査します。

[WindowsがRFC5077に対応したのはWindows 8以降](https://docs.microsoft.com/en-us/windows-server/security/tls/transport-layer-security-protocol#BKMK_SessionResumption)となるため、最初のコメントでWindowsのバージョンを尋ねました。

vsFTPd 3.0.2と3.0.3のソースコード差分を確認しました。設定のデフォルト値が変更されていましたが、関係ありませんでした（3.0.3に対して3.0.2のデフォルト値で起動しても接続できるし、3.0.2に対して3.0.3のデフォルト値で起動しても接続できませんでした）。
その他、3.0.2は
```
522 SSL connection failed; session reuse required: see require_ssl_reuse option in vsftpd.conf man page
```
のレスポンスを返した後、処理継続していましたが、3.0.3は
```
522 SSL connection failed: session reuse required
```
のメッセージに変更され、レスポンス後にデーモンが停止する措置も取られていましたが、処理そのものに変更はありませんでした。

---
こうなるとvsFTPdの3.0.2と3.0.3の差異はなく、使用しているopenssl 1.0.2k-19.el7と1.1.1-8.el8との差異ということになりそうです。
が、これを調べるのは厄介な気がしています…。

[検証環境](https://gist.github.com/sayurin/8c4fd4742613f27c129efa661b259ffb)を作って、vsFTPd + OpenSSLの組み合わせでつながる条件を確認しました。
そもそもvsFTPd 3.0.3 + OpenSSL 1.0.2kで失敗するため、vsFTPd側には非がなさそうです。
結局、vsFTPd 3.0.2に対してOpenSSLのバージョンを切り替えて試したところ

- vsFTPd 3.0.2 + OpenSSL 1.0.2（k～t） → 失敗
- vsFTPd 3.0.2 + OpenSSL 1.1.0 → 成功
- vsFTPd 3.0.2 + OpenSSL 1.1.1 → 成功

となりました。結局次のいずれかの条件を満たす必要があります。

- OpenSSL 1.1.0以降を使用する
- vsFTPdを使用する場合は、`require_ssl_reuse=NO`の設定をする
- FFFTP v2.00以前を使用する


数多くの検証ありがとうございます。
大変参考になりました。vsFTPdの値を変更できるかお客様に尋ねてみます。

ふと疑問に思い、FileZilla Ver3.45.1とWinSCP Ver5.15.5、双方最新版を利用したところ
接続後、ファイルは表示されました。
この2アプリと処理方法が異なると思いますが、何か思い当たる節とか有るでしょうか。


@ShinbeTorii 暗号化ライブラリの違いとなります。

 - vsFTPd - OpenSSL
 - FFFTP 3.0以降 - SChannel
 - FFFTP 2.0以前 - OpenSSL
 - FileZilla - GnuTLS
 - WinSCP - OpenSSL

という関係で、OpenSSL（の特定のバージョン）とSChannelとの相性問題です。

確認ですが、問題が発生するようになったのは最近（2019/10/09以降）からでしょうか？ それとも以前から発生していたのでしょうか？

[2019/10/09のWindows Update](https://support.microsoft.com/ja-jp/help/4517389/windows-10-update-kb4517389)でセキュリティ強化が行われていました。具体的にはRFC 7627 Extended Master Secretに従うようになっています。この件に関して[トランスポート層セキュリティ (TLS) の接続が失敗するか、接続時または再開の試行時にタイムアウトになることがある](https://support.microsoft.com/ja-jp/help/4528489/transport-layer-security-tls-connections-might-fail-or-timeout-when-co)では次のように説明されています。

>  RFC 2246 (TLS 1.0) および RFC 5246 (TLS 1.2) に準拠していない FTP サーバーまたはクライアントが再開または省略されたハンドシェイクでファイルの転送に失敗し、各接続が失敗することがあります。 この問題が発生した場合は、製造元またはサービス プロバイダーに問い合わせて、RFC 標準に準拠した更新プログラムを入手する必要があります。

実際、vsFTPdが使用している[OpenSSLがRFC 7627に対応したのはv1.1.0](https://www.openssl.org/news/openssl-1.1.0-notes.html)からです。もしOpenSSL v1.0.2を使用していてファイル一覧が表示されないのであれば条件が一致します。

解決策としてはFTPサーバーのセキュリティアップデートを適用しRFC 7627に準拠するか、vsFTPdに対し`require_ssl_reuse=NO`を設定し再接続を要求しないようにするか、となります。

引き続きWindows側でRFC 7627未対応サーバーへの接続方法について調査します。ただし、挙げられたドキュメントに記載の方法ではRFC 7627を無効化できていないので難しそうです。

発生時期について
10月下旬からとのことです。
（Windows Updateは、ADで10日送らせています）
時期的に、開発者様の御指摘と一致します。

vsFTPdの値を変更の件は、まだお客様に伝わっていません。
セキュリティ強化の件と合わせて通知いたします。

ありがとうございます。話を整理しますと

- ftp server - ftp client間で暗号化を実施している
- ftp serverにはvsftpdを使用している
  - vsftpdはOpenSSLを使用している
    - OpenSSL v1.1.0（2016年8月公開）以降はRFC7627 Extended Master Secret（2008年1月公開）に対応している
    - OpenSSL v1.0.2以前はRFC7627 Extended Master Secretに対応していない
  - vsftpdはセキュリティのため既定で、データ接続には制御接続からTLSセッション情報を引き継ぐことを要求している
- ftp clientにはFFFTPを使用している
  - FFFTP v3.0以降はWindows付属のSChannelを使用している
  - SChannelはセキュリティのため、2019年10月以降、TLSセッション情報の引き継ぎにはRFC7627 Extended Master Secretを要求している

という背景があり

1. vsftpdはTLSセッション情報の引き継ぎを要求
2. SChannelはTLSセッション情報を引き継ぎのためにはRFC7627 Extended Master Secretを要求
3. OpenSSL v1.0.2以前はRFC7627 Extended Master Secretに未対応なため、SChannelはTLSセッション情報を引き継ぎを拒否し、通常の接続を行う
4. vsftpdはTLSセッション情報が引き継がれていないためデータ送信（今回はファイル一覧）を拒否

という結果になりました。

解決策としましては

- OpenSSL v1.1.0以降にバージョンアップしていただく
- vsftpdがTLSセッション情報の引き継ぎを要求しないよう設定変更していただく（設定ファイルに`require_ssl_reuse=NO`を追加）

のどちらかとなります。なお、OpenSSL v1.0.2は2019年12月にサポート終了します。またOpenSSL v1.1.0は2019年9月にサポート終了済みです。現在はOpenSSL v1.1.1のみが妥当な選択肢となっています。

暗号化ライブラリの違いと、OSのセキュリティ事情、大変参考になりました。
この度は、詳細なる検証をしていただき誠にありがとうございました。